.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

bin/*
*.class

.settings/*
.project
.classpath

.gradle
/build/
build/
build/*
.idea/
.idea/*
/out/
target/
target/*

roster.txt
config.toml
